*{
    font-family: 'Quicksand', sans-serif;
  }
.card-surat{
    cursor: pointer;
    transition: .8s ease;
}
.card-surat:hover{
    background-color: #b5b3a8;
}
.container img{
    width: 50px;
}
.pointer{
    text-decoration: none;
}
body{
    background: url(https://i.pinimg.com/474x/2d/1f/91/2d1f915c1b052b3fda47b310f0bf430f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.center{
    margin-left: 25rem;
}
.left{
    margin-left: 1rem;
}