@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:wght@400;500&family=Roboto&display=swap');
*{
    font-family: 'poppins';
}
.card-surat{
    cursor: pointer;
    transition: .8s ease;
}
.card-surat:hover{
    background-color: #b5b3a8;
}
.container img{
    width: 50px;
}
.pointer{
    cursor: pointer;
}